<div class="container-fluid">
    <h1 class="mt-4">Đơn hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Đơn hàng</li>
    </ol>
    {{#each allorders}}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Order
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="d-flex justify-content-between">
                    <h3 class="my-auto" style="color: #6046b6;">
                        Id: <span>{{this._id}}</span>
                    </h3>
                    <h3 class="my-auto" style="color: #6046b6;">
                        Status:
                        {{#cond this.STATUS 0}}
                        <span class="text-secondary font-weight-bold">Pending</span>
                        {{/cond}}
                        {{#cond this.STATUS -1}}
                        <span class="text-danger font-weight-bold">Canceled</span>
                        {{/cond}}
                        {{#cond this.STATUS 1}}
                        <span class="text-success font-weight-bold">Confirmed</span>
                        {{/cond}}
                    </h3>
                </div>
                <hr class="flex-shrink-1 my-2">
                <div class="d-flex my-2 scrollmenu">
                    {{#each this.ALLDISHES}}
                    <img src="{{this.cover_image}}" class="my-auto" width="70px" height="70px">
                    <p class="mt-auto mb-0 ml-1 mr-2">
                        x{{this.QUANTITY}}
                    </p>
                    {{/each}}
                </div>
                <hr class="flex-shrink-1 my-2">
                <div class="d-flex justify-content-between">
                    <p class="my-auto" style="color:#6046b6; font-size:20px; letter-spacing:0em;">
                        Date created: {{this.DATECREATED}}
                    </p>
                    <h3 class="my-auto" style="color: #ffe745; font-weight:bold;">
                        Tổng tiền: {{this.TOTAL}}
                    </h3>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <a type="button" class="btn peach-gradient btn-rounded" href="/order/detail?id={{this._id}}">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Details
                    </a>
                </div>

            </div>
        </div>
    </div>
    {{/each}}
    <div class="d-flex justify-content-center">
        {{{paginateHelper pagination paginationClass="pagination"}}}
    </div>
</div>