<div class="container-fluid">
    <h1 class="mt-4">Đơn hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Đơn hàng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Order table
        </div>

        <div class="d-flex justify-content-between mx-4 my-3">
            {{!-- <form action="../products/search?page=1" method="GET" class="form-inline md-form">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                    name="searchedproduct">
                <button class="btn aqua-gradient btn-primary border-0 text-uppercase" type="submit"><i
                        class="fa fa-search" aria-hidden="true"></i></button>
            </form> --}}
            <div class="dropdown my-auto">
                <button class="btn aqua-gradient btn-primary px-5 py-2 border-0 text-uppercasedropdown-toggle"
                    type="button" data-toggle="dropdown">Find by status
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/order/filter?status=0&page=1">PENDING</a></li>
                    <li><a class="dropdown-item" href="/order/filter?status=1&page=1">CONFIRMED</a></li>
                    <li><a class="dropdown-item" href="/order/filter?status=-1&page=1">CANCELED</a></li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Mã</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Tên người đặt</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Tên người nhận</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Tên nhân viên</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Trạng thái</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Tổng tiền</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Ngày tạo</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Chi tiết</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Mã</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Tên người đặt</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Tên người nhận</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Tên nhân viên</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Trạng thái</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Tổng tiền</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Ngày tạo</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Chi tiết</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        {{#each orders}}
                        <tr>
                            <td class="text-center align-middle">{{this.order._id}}</td>
                            <td class="text-center align-middle">{{this.creator}}</td>
                            <td class="text-center align-middle">{{this.order.NAME}}</td>
                            <td class="text-center align-middle">{{this.staff}}</td>
                            <td class="text-center align-middle">
                                {{#cond this.order.STATUS 0}}
                                <span class="text-secondary font-weight-bold">Pending</span>
                                {{/cond}}
                                {{#cond this.order.STATUS -1}}
                                <span class="text-danger font-weight-bold">Canceled</span>
                                {{/cond}}
                                {{#cond this.order.STATUS 1}}
                                <span class="text-success font-weight-bold">Confirmed</span>
                                {{/cond}}
                            </td>
                            <td class="text-center align-middle">{{this.order.TOTAL}}</td>
                            <td class="text-center align-middle">{{this.order.DATECREATED}}</td>
                            <td class="text-center align-middle">
                                <a href="/order/detail?id={{this.order._id}}">
                                    <i class="fas fa-eye text-success"></i>
                                </a>
                            </td>

                        </tr>
                        {{/each}}

                    </tbody>
                </table>

            </div>
        </div>
        <div class="d-flex justify-content-center">
            {{{paginateHelper pagination paginationClass="pagination"}}}
        </div>

    </div>
</div>
