<div class="container-fluid">
    <h1 class="mt-4">Staff Information</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-plus mr-1"></i>
            Information
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" value={{staff._id}} readonly>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" value='{{staff.STAFF_NAME}}' readonly>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" value={{staff.USERNAME}} readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" value='{{staff.STAFF_EMAIL}}' readonly>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="phone" class="form-control" name="phone" value='{{staff.STAFF_PHONE}}' readonly>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea class="form-control" rows="2" name="address" readonly>{{staff.STAFF_ADDRESS}}</textarea>
                </div>
            </form>
            <button class="btn btn-primary float-left" onclick="goBack()">Back</button>
            <button id="btnlock" class="btn btn-danger float-right" data-toggle="modal"
                data-target="#removeModal">Delete
                staff</button>
            <!-- Modal -->
            <div class="modal fade" id="removeModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Delete staff</h5>
                            <button type="button" class="btn-danger" data-dismiss="modal" aria-label="Close">
                                <span class="fa fa-times" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Do you really want to delete this staff?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <button class="btn btn-primary " onclick="delete_staff('{{staff._id}}')">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function delete_staff(id) {
        const form = document.createElement("form");
        form.method = "post";
        form.action = "/staff/delete/" + id;
        document.body.appendChild(form);
        form.submit();
    }
    function goBack() {
        window.history.back();
    }
</script>