<div class="container-fluid">
    <h1 class="mt-4">Sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Product Table
        </div>
        {{#cond user.type "admin"}}
        <div class="d-flex justify-content-center my-2">
            <a href="../products/addnew">
                <button type="button" class="btn aqua-gradient btn-primary px-5 py-3 border-0 text-uppercase"><i
                        class="fas fa-plus mr-2"></i>Add new</button>
            </a>
        </div>
        {{/cond}}
        <div class="d-flex justify-content-between mx-4">
            <form action="../products/search?page=1" method="GET" class="form-inline md-form">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                    name="searchedproduct">
                <button class="btn aqua-gradient btn-primary border-0 text-uppercase" type="submit"><i
                        class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <div class="dropdown my-auto">
                <button class="btn aqua-gradient btn-primary px-5 py-2 border-0 text-uppercasedropdown-toggle"
                    type="button" data-toggle="dropdown">Find by type
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/products/type?type=pizza&page=1">pizza</a></li>
                    <li><a class="dropdown-item" href="/products/type?type=burger&page=1">burger</a></li>
                    <li><a class="dropdown-item" href="/products/type?type=spaghetti&page=1">spaghetti</a></li>
                    <li><a class="dropdown-item" href="/products/type?type=rice&page=1">rice</a></li>
                    <li><a class="dropdown-item" href="/products/type?type=dessert&page=1">dessert</a></li>
                    <li><a class="dropdown-item" href="/products/type?type=drink&page=1">drink</a></li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered"  width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Hình ảnh </th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Tên</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Loại</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Giá</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Trạng thái</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Lượt xem</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Hình ảnh </th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Tên</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Loại</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Giá</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Trạng thái</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Lượt xem</th>
                            <th class="text-center align-middle w-25 font-weight-bold bg-light">Chỉnh sửa</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        {{#each products}}
                        <tr>
                            <td class="d-flex justify-content-center"> <img src="{{IMAGES.[0]}}" alt="" width="100"
                                    height="100"> </td>
                            <td class="text-center align-middle">{{DISH_NAME}}</td>
                            <td class="text-center align-middle">{{TYPE}}</td>
                            <td class="text-center align-middle">{{PRICE}}</td>
                            <td class="text-center align-middle">
                                {{#if STATUS}}
                                <span class="text-success font-weight-bold">Còn</span>
                                {{/if}}
                                {{#unless STATUS}}
                                <span class="text-danger font-weight-bold">Hết</span>
                                {{/unless}}
                            </td>
                            <td class="text-center align-middle">
                                {{VIEW}}
                            </td>
                            <td class="text-center align-middle">
                                <a href="../products/detail?id={{_id}}">
                                    <i class="fas fa-edit text-success"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>

            </div>
        </div>
        <div class="d-flex justify-content-center">
            {{{paginateHelper pagination paginationClass="pagination"}}}
        </div>

    </div>
</div>
